__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.flaskenv
*.sqlite3
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
ml-latest/
movielens-parquet-build-2026/
artifacts/
*.parquet
*.csv
*.zip
*.log
